<header class="site-header">
  <div class="wrapper" style="padding: 1rem 0;">
    <nav>
      <a href="/" style="text-decoration:none; font-weight:600;">
        Home
      </a>

      &nbsp;&nbsp;

      <a href="/library/" style="text-decoration:none; font-weight:600;">
        Library
      </a>

      &nbsp;&nbsp;

      <a href="/biblioteca/" style="text-decoration:none; font-weight:600;">
        Biblioteca
      </a>
      &nbsp;&nbsp;
      <a href="/lexicon/" style="text-decoration:none; font-weight:600;">
        Lexicon
      </a>
      &nbsp;&nbsp;
      <a href="/lexico/" style="text-decoration:none; font-weight:600;">
        Léxico
      </a>
    </nav>
  </div>
</header>
