---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% seo %}

  <script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"Person",
    "name":"Oscar Gaitan",
    "url":"https://ogait001.github.io/academic-profile/",
    "jobTitle":"Independent Philosophical Researcher"
  }
  </script>

  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>

<body>
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}
</body>
</html>
